$standartCellSize: 40rem;
$borderRadius: 6px;

@mixin flexCentered{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin commonCellStyle($sideLenth) {
	@include flexCentered;
	width: $sideLenth;
	height: $sideLenth;
	border-radius: $borderRadius;
}

.GameCanvas{
	display: flex;
	flex-flow: row wrap;
	width: $standartCellSize;
  height: $standartCellSize;
	background-color: #bbada0;
	border-radius: $borderRadius;

	&-CellWrapper{
		@include flexCentered;
	}

	&-CellBackground{
		@include commonCellStyle(85%);
		background-color: rgba(238, 228, 218, 0.35);
	}

	&-Cell{
		@include commonCellStyle(100%);
		font-weight: bold;
		font-size: 2rem;
		user-select: none;
		// transform: translate(118%, 0%);
		// transition: transform 3s;
		// transition: background-color 1s;
		// animation: insertNewCells .3s linear;
	}

	@keyframes insertNewCells {
		0%   { transform:   scale(0.3); }
		25%  { transform:  scale(0.7); }
		50%  { transform:  scale(1); }
		75%  { transform:  scale(1.2); }
		100% {transform: scale(1); }
	}
}