.Indicator{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 1rem;
	padding: 0.5rem;
	background: #bbada0;
	color: white;
	border-radius: 3px;
	font-weight: bold;
}