$standartCellSize: 30rem;
$borderRadius: 6px;
$stanadrtPadding: 0.5rem;

@mixin flexCentered{
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin commonCellStyle($sideLenth) {
	@include flexCentered;
	width: $sideLenth;
	height: $sideLenth;
	border-radius: $borderRadius;
}

*{
	box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	background: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root{
	display: flex;
	justify-content: center;
}

.controlButton:focus,
.controlButton:active,
.controlButton
{
	border: none;
	outline: none;
}

.controlButton:hover{
	cursor: pointer;
	opacity: 0.7;

}
.controlButton{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: $stanadrtPadding;
	background: #8f7a66;
	color: white;
	border-radius: $borderRadius;
	font-weight: bold;
	border: none;
}

.mainContent{
	background: antiquewhite;
	border-radius: $borderRadius;
	animation-name: gamefieldLoad;
  animation-duration: 1s;
}

.GameCanvas{
	display: flex;
	flex-flow: row wrap;
	width: $standartCellSize;
  height: $standartCellSize;
	background-color: #bbada0;
	border-radius: $borderRadius;
	margin-top: 1rem;
	&-CellWrapper{
		@include flexCentered;
	}

	&-CellBackground{
		@include commonCellStyle(85%);
		background-color: rgba(238, 228, 218, 0.35);
	}

	&-Cell{
		@include commonCellStyle(100%);
		font-weight: bold;
		font-size: 2rem;
		user-select: none;
	}

	@keyframes insertNewCells {
		0%   { transform:   scale(0.3); }
		25%  { transform:  scale(0.7); }
		50%  { transform:  scale(1); }
		75%  { transform:  scale(1.2); }
		100% {transform: scale(1); }
	}
}

.CurrentGameStatistics{
	display: flex;
	flex-flow:  row wrap ;
	justify-content: space-around;
	border-radius: $borderRadius;
	background: #bbada0;
	margin-top: 1rem;
	width: $standartCellSize;
}

footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(243, 178, 122);
	margin-top: 1rem;
	border-radius: $borderRadius;

	a{
		text-decoration: none;
	}

	img{
		width: 40px;
		height: 40px;
	 }

	 div{
		display: flex;
		align-items: center;
		align-self: center;
		color: rgb(119, 110, 101);
		font-weight: bold;
	}
}
.SettingsWrapper{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	width: $standartCellSize;
	margin-top: 1rem;
	border-radius: $borderRadius;
	padding: $stanadrtPadding;
	background: #bbada0;

	.settingsPanelName{
		color: white;
		font-weight: bold;
		user-select: none;
	}

	.Parameters{
		display: flex;
		justify-content: space-evenly;
		border: 2px solid white;
		border-radius: $borderRadius;

		.parameter{
			border-radius: $borderRadius;
			background: #e0a064;
			color: white;
			border-radius: $borderRadius;
			font-weight: bold;
			padding: $stanadrtPadding;



			.settingControls{
				display: flex;
				justify-content: space-evenly;
			}
		}
	}
}

.Volume {
	width: 9rem;

	.controlButton {
		width: 30%;
	}
}

.GameField{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	overflow: hidden;
	border-radius: $borderRadius;
	background: antiquewhite;
}

.Indicator{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: $stanadrtPadding;
	background: #bbada0;
	color: white;
	border-radius: $borderRadius;
	font-weight: bold;
	user-select: none;
	opacity: 0.8;
}

.ControlPanel{
	display: flex;
	flex-flow:  row wrap ;
	justify-content: space-evenly;
	width: $standartCellSize;
	margin-top: 1rem;
	border-radius: $borderRadius;
	padding: $stanadrtPadding;
	background: #bbada0;
}

@keyframes gamefieldLoad {
	from{ transform: scale(0)}
	to{transform: scale(1)}
}